@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<h4>Are you sure you want to delete "@Html.DisplayFor(model => model.Description)"?</h4>
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
<h5>@Html.ActionLink("Back To List", "Index")</h5>