@{
  Layout = "_Layout";
}

@model ToDoList.Models.Category

<h3>Add A New Category</h3>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <input type="submit" value="Add Category" />
}

<h4>@Html.ActionLink("Back To Categories", "Index")</h4>