@{
  Layout = "_Layout";
}

@model ToDoList.Models.Category

<h3>Are you sure you want to delete this?</h3>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}

<h4>@Html.ActionLink("Back To List", "Index")</h4>