@{
  Layout = "_Layout";
}

@model ToDoList.Models.Category

<h3>Are you sure you want to delete the Category: "@Html.DisplayFor(model => model.Name)"?</h3><br>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
<br>
<h4>@Html.ActionLink("Back To List", "Index")</h4>