@{
  Layout = "_Layout";
}

@using ToDoList.Models;
@model List<ToDoList.Models.Category>;

<h2>Categories</h2>

<ul>
  @foreach(Category category in Model)
  {
    <li>@Html.ActionLink($"{category.Name}", "Details", new { id = category.CategoryId })</li>
  }
</ul>

<h4>@Html.ActionLink("Add New Category", "Create")</h4>
<h4>@Html.ActionLink("Home", "Index", "Home")</h4>