@* @{
  Layout = "_Layout";
}

@using ToDoList.Models;
@model List<ToDoList.Models.Category>;

<h2>Categories:</h2>

  @foreach(Category category in Model)
  {
    <h3>- @Html.ActionLink($"{category.Name}", "Details", new { id = category.CategoryId })</h3>
  }
<br>
<h4>@Html.ActionLink("Add New Category", "Create")</h4>
<h4>@Html.ActionLink("Home", "Index", "Home")</h4> *@