@{
  Layout = "_Layout";
}

<h1>Add A Category</h1>
<p>Add Category Here:</p>

<form action="/categories" method="post">
  <label for="categoryName">Category Name</label>
  <input id="categoryName" name="categoryName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back To Home</a></p>
<p><a href="/categories">Back To Categories.</a></p>